<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.RegistrationMapper">

    <select id="getByNumber" resultType="com.inet.code.entity.Registration">
        SELECT
            registration_uuid AS registrationUuid,
            registration_number AS registrationNumber,
            registration_state AS registrationState,
            registration_start AS registrationStart,
            registration_finish AS registrationFinish,
            registration_total AS registrationTotal
        FROM
            tbl_registration
        WHERE
            registration_number = #{userNumber};
    </select>
</mapper>
