<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inet.code.mapper.UserMapper">
    <!--通过学号删除-->
    <delete id="removeByNumber">
        DELETE
        FROM
             tbl_user
        WHERE
            user_number = #{number}
        LIMIT 1;
    </delete>
    <!--登录请求-->
    <select id="getLogin" resultType="com.inet.code.entity.User">
        SELECT
            t1.user_uuid AS userUuid,
            t1.user_phone AS userPhone,
            t1.user_number AS userNumber,
            t1.user_name AS userName,
            t1.user_class AS userClass,
            t1.user_buddha AS userBuddha,
            t3.role_name AS roleName
        FROM
            tbl_user AS t1
                LEFT JOIN tbl_character AS t2 ON t1.user_number = t2.character_number
                LEFT JOIN tbl_role AS t3 ON t2.character_role_uuid = t3.role_uuid
                LEFT JOIN tbl_cipher AS t4 ON t1.user_number = t4.cipher_number
        WHERE t4.cipher_number = #{account} AND t4.cipher_password = #{password}
        LIMIT 1;
    </select>
    <!--通过学号判断用户是否存在-->
    <select id="getByNumber" resultType="com.inet.code.entity.User">
        SELECT
            user_uuid AS userUuid,
            user_name AS userName,
            user_buddha AS userBuddha,
            user_phone AS userPhone,
            user_number AS userNumber,
            user_class AS userClass
        FROM
            tbl_user
        WHERE
            user_number = #{number}
            LIMIT 1;
    </select>
    <!--分页操作-->
    <select id="page" resultType="com.inet.code.entity.User">
        SELECT
            user_uuid AS userUuid,
            user_name AS userName,
            user_buddha AS userBuddha,
            user_phone AS userPhone,
            user_number AS userNumber,
            user_class AS userClass,
            user_creation AS userCreation,
            user_modification AS userModification
        FROM
            tbl_user AS t1
        LEFT JOIN tbl_character AS t2 ON t2.character_number = t1.user_number
        LEFT JOIN tbl_role AS t3 ON t3.role_uuid = t2.character_role_uuid
        WHERE t3.role_name = "student"
        LIMIT #{size},#{entry} ;
    </select>
    <!--查看总共的数目-->
    <select id="getTotal" resultType="java.lang.Integer">
        SELECT
            COUNT( 1 )
        FROM
            tbl_user AS t1
            LEFT JOIN tbl_character AS t2 ON t2.character_number = t1.user_number
            LEFT JOIN tbl_role AS t3 ON t3.role_uuid = t2.character_role_uuid
        WHERE t3.role_name = "student";
    </select>
</mapper>
